name: Release

on:
  push:
    tags:
      - 'v*.*.*'
    branches:
      - main
  pull_request:

jobs:
  release-container:
    uses: radiorabe/actions/.github/workflows/release-container.yaml@v0.38.0
    with:
      image: ghcr.io/radiorabe/python-minimal
      name: python-minimal
      display-name: RaBe Python Base Image Minimal
      tags: minimal rhel8 rabe python python312
      # base images are multi-platform for developer convenience
      platforms: linux/amd64,linux/arm64
      docker-daemon-config: |
        {
          "features": {
            "containerd-snapshotter": true
          }
        }
  mkdocs:
    uses: radiorabe/actions/.github/workflows/release-mkdocs.yaml@v0.37.0
